var app = angular
    .module('taller',
    [
        'ngMaterial',
        'duParallax',
        'ui.router',
        'angular-loading-bar', 
        'ngAnimate',
        'infinite-scroll',
        'ngAnimate',
        'tallerDirectives',
         'chart.js'
    ]
);


app.config(function(
                    $stateProvider,
                    $urlRouterProvider,
                    $locationProvider
                )
                {
                $urlRouterProvider.otherwise('/dashboard');
                $stateProvider
                    .state('home', {
                       url: "/casa",
                       template:'ASDASDASD'
                    })

                    .state('dashboard', {
                      url: '/dashboard',
                      views: {
                        '': {
                          templateUrl: '/dashboard'
                        },
                        'nav@home': {
                          template: '"<h1>HELLO2!</h1>"'
                        },
                        'body@home': {
                          template: '"<h1>HELLO3!</h1>"'
                        },
                        'footer@home': {
                          template: '"<h1>HELLO4!</h1>"'
                        }
                      }
                    })

                    .state('charts', {
                      url: '/charts',
                      templateUrl: '/charts'
                    })

                    .state('cronjobs', {
                      url: '/cronjobs',
                      templateUrl: '/cronjobs'
                    })

                    .state('testing', {
                      url: '/testing',
                      templateUrl: '/testing'
                    })
                    .state('orders', {
                      url: '/orders',
                      templateUrl: '/orders'
                    })
                    .state('cellar', {
                      url: '/cellar',
                      templateUrl: '/cellar'
                    })
                    .state('api', {
                      url: '/api',
                      templateUrl: '/api'
                    })
                    .state('documentation', {
                      url: '/api/documentacion',
                      templateUrl: '/api/documentacion'
                    })


                    //Produccion
                    .state('produccions', {
                      url: '/produccions',
                      templateUrl: '/produccions'
                    })
                    .state('produccions/new', {
                      url: '/produccions/new',
                      templateUrl: '/produccions/new'
                    })
                    .state('produccions-show', {
                      url: '/produccions/:id',
                        templateUrl:
                            function ($stateParams) {
                              id= $stateParams.id;
                              return '/produccions/'+id
                            }
                    })
                    .state('produccions-edit', {
                      url: '/produccions/:id/edit',
                        templateUrl:
                            function ($stateParams) {
                              id= $stateParams.id;
                              return '/produccions/'+id+'/edit'
                            }
                    })



                    //Ordenes
                    .state('oc_recibidas', {
                      url: '/oc_recibidas',
                      templateUrl: '/oc_recibidas'
                    })
                    .state('oc_recibidas/new', {
                      url: '/oc_recibidas/new',
                      templateUrl: '/oc_recibidas/new'
                    })
                    .state('oc_recibidas-show', {
                      url: '/oc_recibidas/:id',
                        templateUrl:
                            function ($stateParams) {
                              id= $stateParams.id;
                              return '/oc_recibidas/'+id
                            }
                    })
                    .state('oc_recibidas-edit', {
                      url: '/oc_recibidas/:id/edit',
                        templateUrl:
                            function ($stateParams) {
                              id= $stateParams.id;
                              return '/oc_recibidas/'+id+'/edit'
                            }
                    });


          $locationProvider.html5Mode(true);
        });


app.run(function($rootScope, $templateCache, $http) {
    $rootScope.$on('$stateChangeSuccess', function() {
        $templateCache.removeAll();
    });
})

app
.controller('MainCtrl',function($scope,$rootScope, $state){
      $scope.vari="ASDASD";
      $scope.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];
      $scope.series = ['Series A', 'Series B'];

      $scope.data = [
        [65, 59, 80, 81, 56, 55, 40],
        [28, 48, 40, 19, 86, 27, 90]
      ];


});


