var app = angular
    .module('taller',
    [
        'ngMaterial',
        'duParallax',
        'ui.router',
        'angular-loading-bar', 
        'ngAnimate',
        'infinite-scroll',
        'ngAnimate',
        'tallerDirectives'
    ]
);


app.config(function(
                    $stateProvider,
                    $urlRouterProvider
                )
                {
                $urlRouterProvider.otherwise('/dashboard');
                $stateProvider
                    .state('home', {
                       url: "/casa",
                       template:'ASDASDASD'
                    })

                    .state('dashboard', {
                      url: '/dashboard',
                      views: {
                        '': {
                          templateUrl: '/dashboard'
                        },
                        'nav@home': {
                          template: '"<h1>HELLO2!</h1>"'
                        },
                        'body@home': {
                          template: '"<h1>HELLO3!</h1>"'
                        },
                        'footer@home': {
                          template: '"<h1>HELLO4!</h1>"'
                        }
                      }
                    })

                    .state('charts', {
                      url: '/charts',
                      templateUrl: '/charts'
                    })

                    .state('testing', {
                      url: '/testing',
                      templateUrl: '/testing'
                    })
                    .state('orders', {
                      url: '/orders',
                      templateUrl: '/orders'
                    })
                    .state('cellar', {
                      url: '/cellar',
                      templateUrl: '/cellar'
                    })
                    .state('api', {
                      url: '/api',
                      templateUrl: '/api'
                    })
                    .state('documentation', {
                      url: '/documentation',
                      templateUrl: '/documentation'
                    })


                    //Produccion
                    .state('produccions', {
                      url: '/produccions',
                      templateUrl: '/produccions'
                    })
                    .state('produccions/new', {
                      url: '/produccions/new',
                      templateUrl: '/produccions/new'
                    })
                    .state('produccions-show', {
                      url: '/produccions/:id',
                        templateUrl:
                            function ($stateParams) {
                              id= $stateParams.id;
                              return '/produccions/'+id
                            }
                    })
                    .state('produccions-edit', {
                      url: '/produccions/:id/edit',
                        templateUrl:
                            function ($stateParams) {
                              id= $stateParams.id;
                              return '/produccions/'+id+'/edit'
                            }
                    })



                    //Ordenes
                    .state('oc_recibidas', {
                      url: '/oc_recibidas',
                      templateUrl: '/oc_recibidas'
                    })
                    .state('oc_recibidas/new', {
                      url: '/oc_recibidas/new',
                      templateUrl: '/oc_recibidas/new'
                    })
                    .state('oc_recibidas-show', {
                      url: '/oc_recibidas/:id',
                        templateUrl:
                            function ($stateParams) {
                              id= $stateParams.id;
                              return '/oc_recibidas/'+id
                            }
                    })
                    .state('oc_recibidas-edit', {
                      url: '/oc_recibidas/:id/edit',
                        templateUrl:
                            function ($stateParams) {
                              id= $stateParams.id;
                              return '/oc_recibidas/'+id+'/edit'
                            }
                    });



                }


        );


app
.controller('MainCtrl',function($scope,$rootScope, $state){
        //alert('asd');
            $scope.vari="ASDASD";
});